@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
       @apply  cursor-pointer hover:underline ;
    }
    .button {
        @apply  p-2 text-xs 

        md:text-sm bg-gradient-to-b
         from-yellow-200 to-yellow-400
         focus:outline-none border-yellow-300 rounded-sm 
         focus:ring-2 focus:ring-yellow-500
         active:from-yellow-500;
    }
    .quantity{
        @apply max-w-[30%] md:max-w-[15%];
    }
    .addAndRemoveButton{
        @apply flex flex-col space-y-2 my-auto justify-self-end;

    }
}
